#Protect inc files from being read
<FilesMatch "\.(inc)$">
 Order Allow,Deny
 Deny from all
</FilesMatch>

RewriteEngine On
Options +FollowSymlinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

php_flag display_errors on