<!DOCTYPE html>
<html>
	<head>
		<title>Bulock Home Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="/css/main.css" rel="stylesheet" media="screen">
		{% block stylesheets %}{% endblock %}
		{% block meta_data %}{% endblock %}
	</head>
	<body>
		<header>
			<h1><a href='/'>Bulock Home Dashboard</a></h1>
		</header>
		<div class='container-fluid'>
		{% block content %}{% endblock %}
		</div>
		<script src='/bower_components/jquery/dist/jquery.min.js'></script>
		<script src='/bower_components/noty/js/noty/jquery.noty.js'></script>
		<script src='/bower_components/noty/js/noty/layouts/topLeft.js'></script>
		<script src='/bower_components/noty/js/noty/themes/relax.js'></script>
		<script src='/js/api.js'></script>
		<script src='/js/base_core.js'></script>
		<script src='/js/base_ui.js'></script>
		{% block javascript %}{% endblock %}
	</body>
</html>